{% extends "@OrkestroWeb/Backend/base.html.twig" %}
{% trans_default_domain "backend" %}

{% block stylesheets -%}
    <link rel="stylesheet" href="{{ asset('bundles/orkestrocountry/css/country.css') }}" />
{% endblock %}

{% block body -%}
    <h3>{{ "orkestro.country.headers.countries"|trans }}</h3>

    <ul>
        <li>
            <a href="{{ path('orkestro_backend_country_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>

    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>

    <table class="table table-condensed">
        <tr>
            <th{% if pagination.isSorted('c.isoCode') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'orkestro.country.headers.iso_code'|trans, 'c.isoCode') }}
            </th>
            <th{% if pagination.isSorted('c.title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'orkestro.country.headers.title'|trans, 'c.title') }}
            </th>
            <th>
                {{ "orkestro.country.headers.actions"|trans }}
            </th>
        </tr>
        {% for country in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>
                    <img class="country-4x3" src="{{ asset('bundles/orkestrocountry/flag-icon-css/flags/4x3/' ~ country.isoCode ~ '.svg') }}" />
                    {{ country.isoCode }}
                </td>
                <td>{{ country.title }}</td>
                <td>
                    <ul>
                        <li>
                           <a href="{{ path('orkestro_backend_country_show', { 'iso_code': country.isoCode }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('orkestro_backend_country_edit', { 'iso_code': country.isoCode }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
