{% extends "@OrkestroWeb/Backend/base.html.twig" %}
{% trans_default_domain "backend" %}

{% block title -%}
    {{ "orkestro.country.headers.countries"|trans }}
{% endblock %}
{% block page_title -%}
    {{ "orkestro.country.headers.countries"|trans }}
{% endblock %}

{% block body -%}
    <div class="panel mar-no panel-bordered-primary">
        <div class="panel-body">
            <div class="pull-left">
                {{ form(formLimitSelector) }}
            </div>
            <div class="pull-right">
                <a class="btn btn-primary btn-rounded btn-labeled fa fa-plus" href="{{ path('orkestro_backend_country_new') }}">
                    {{ "orkestro.country.buttons.add"|trans }}
                </a>
            </div>
        </div>
    </div>
    <hr />
    <div class="panel mar-no panel-bordered-mint">
        <div class="panel-body">
            <table class="table table-bordered mar-no">
                <tr>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'orkestro.country.headers.id'|trans, 'c.id', {'class': 'btn-link'}) }}
                        {% if pagination.isSorted('c.id') %}
                            <span class="order">
                                <i class="fa fa-angle-{% if pagination.getDirection() == 'asc' %}up{% else %}down{% endif %}"></i>
                            </span>
                        {% endif %}
                    </th>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'orkestro.country.headers.iso_code'|trans, 'c.isoCode', {'class': 'btn-link'}) }}
                        {% if pagination.isSorted('c.isoCode') %}
                            <span class="order">
                                <i class="fa fa-angle-{% if pagination.getDirection() == 'asc' %}up{% else %}down{% endif %}"></i>
                            </span>
                        {% endif %}
                    </th>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'orkestro.country.headers.title'|trans, 'ct.title', {'class': 'btn-link'}) }}
                        {% if pagination.isSorted('ct.title') %}
                            <span class="order">
                                <i class="fa fa-angle-{% if pagination.getDirection() == 'asc' %}up{% else %}down{% endif %}"></i>
                            </span>
                        {% endif %}
                    </th>
                    <th>
                        {{ "orkestro.country.headers.actions"|trans }}
                    </th>
                </tr>
                {% for country in pagination %}
                    <tr>
                        <td>{{ country.id }}</td>
                        <td>
                            <img class="country-4x3" src="{{ asset('bundles/orkestrocountry/flag-icon-css/flags/4x3/' ~ country.isoCode ~ '.svg') }}" />
                            {{ country.isoCode }}
                        </td>
                        <td>{{ country.title }}</td>
                        <td>
                            <a class="btn btn-s btn-mint" href="{{ path('orkestro_backend_country_show', { 'iso_code': country.isoCode }) }}">
                                <i class="fa fa-search"></i>
                            </a>
                            <a class="btn btn-s btn-primary" href="{{ path('orkestro_backend_country_edit', { 'iso_code': country.isoCode }) }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            {{ form_start(forms[country.id]['delete'], {'attr': {'class': 'inline'}}) }}
                                {{ form_widget(forms[country.id]['delete'].submit, {'attr': {'class': 'btn btn-s btn-danger fa fa-trash'}, 'label': ' '}) }}
                            {{ form_end(forms[country.id]['delete']) }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <hr />
    <div class="panel panel-bordered-primary">
        <div class="panel-body">
            <div class="navigation pull-left">
                {{ knp_pagination_render(pagination) }}
            </div>
            <div class="pull-right">
                {% set paginationStartsWith = (pagination.getCurrentPageNumber - 1) * pagination.getItemNumberPerPage + 1 %}
                {% if paginationStartsWith < 0 %}
                    {% set paginationStartsWith = 0 %}
                {% endif %}
                {% set paginationEndsWith = pagination.getCurrentPageNumber * pagination.getItemNumberPerPage %}
                {% if paginationEndsWith > pagination.getTotalItemCount %}
                    {% set paginationEndsWith = pagination.getTotalItemCount %}
                {% endif %}
                <ul class="list-group mar-no">
                    <li class="list-group-item">
                        {{ paginationStartsWith }}&mdash;{{ paginationEndsWith }} {{ 'orkestro.country.info.of'|trans }} {{ pagination.getTotalItemCount }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
