{% extends "@OrkestroWeb/Backend/base.html.twig" %}
{% trans_default_domain "backend" %}

{% import "OrkestroWebBundle:Backend/Translation:default.html.twig" as form_translations %}

{% block title %}
    {{ "orkestro.country.headers.new"|trans }}
{% endblock %}
{% block page_title -%}
    <a class="btn-link icon-wrap-sm" href="{{ path('orkestro_backend_country_list') }}">
        <i class="fa fa-angle-left"></i>
    </a>
    {{ "orkestro.country.headers.new"|trans }}
{% endblock %}

{% block body -%}
    <div class="col-lg-6">
        {{ form_start(form) }}
            <div class="tab-base mar-no">
                {{ form_translations.partialTranslations(form.translations, ['title', 'metaTitle', 'metaDescription', 'metaKeywords']) }}
            </div>

            <hr />

            <div class="panel">
                <div class="panel-body">
                    <h5 class="text-thin mar-btm">
                        * {{ "orkestro.country.labels.iso_code"|trans }}
                    </h5>
                    {{ form_widget(form.isoCode) }}
                </div>
            </div>
        {{ form_end(form) }}

                {#{{ form_start(form) }}#}
                    {#{{ form_widget(form.translations) }}#}
                {#<h5 class="text-thin mar-btm">#}
                {#{{ "orkestro.locale.labels.locale"|trans }}#}
                {#</h5>#}
                {#{{ form_widget(form.code, {'attr': {'class': 'chosen'}}) }}#}

                {#<h5 class="text-thin mar-btm">#}
                {#{{ "orkestro.locale.labels.enabled"|trans }}#}
                {#</h5>#}
                {#{{ form_widget(form.enabled, {'attr': {'class': 'switchery'}}) }}#}


                {#{{ form_widget(form.fallback, {'attr': {'class': 'switchery'}}) }}#}

                {#<hr />#}

                {#<div>#}
                {#{{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary btn-labeled fa fa-plus'}, 'label': 'orkestro.locale.buttons.add'|trans}) }}#}
                {#<a class="btn btn-warning btn-labeled fa fa-times" href="{{ path('orkestro_backend_locale_list') }}">{{ 'orkestro.locale.buttons.cancel'|trans }}</a>#}
                {#</div>#}
                {#{{ form_end(form) }}#}
            {#</div>#}
        {#</div>#}
    </div>


    {#{{ form(form) }}#}

    {#<ul class="record_actions">#}
        {#<li>#}
            {#<a href="{{ path('orkestro_backend_country_list') }}">#}
                {#Back to the list#}
            {#</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
