{% extends "@OrkestroWeb/Backend/base.html.twig" %}
{% trans_default_domain "backend" %}

{% macro print_children(children, repositoryTree) %}
    <table class="table table-condensed">
        <tr>
            <th>
                {{ 'orkestro.category.headers.id'|trans }}
            </th>
            <th>
                {{ 'orkestro.category.headers.title'|trans }}
            </th>
            <th>
                {{ "orkestro.category.headers.actions"|trans }}
            </th>
        </tr>
        {% for category in children %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>
                    <ul>
                       <li>
                            <a href="{{ path('orkestro_backend_category_new', { 'parent_category_id': category.id }) }}">add</a>
                        </li>
                        <li>
                            <a href="{{ path('orkestro_backend_category_show', { 'id': category.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('orkestro_backend_category_edit', { 'id': category.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% set children = repositoryTree.children(category, true) %}
            {% if children|length %}
                <tr>
                    <td colspan="3" class="col-md-offset-3">
                        <div class="col-md-1">&nbsp;</div>
                        <div class="col-md-11">
                            {{ _self.print_children(children, repositoryTree) }}
                        </div>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endmacro %}

{% import _self as macros %}

{% block page_title -%}
    {{ "orkestro.category.headers.categories"|trans }}
{% endblock %}

{% block body -%}
    <ul>
        <li>
            <a href="{{ path('orkestro_backend_category_new', {'parent_category_id': 0}) }}">
                Create a new entry
            </a>
        </li>
    </ul>

    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>

    {{ macros.print_children(pagination, repositoryTree) }}

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
