{% trans_default_domain "backend" %}
<div class="panel mar-no panel-bordered-mint">
    <div class="panel-body">
        <table class="table table-bordered mar-no">
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'orkestro.locale.headers.code'|trans, 'l.code', {'class': 'btn-link'}) }}
                    {% if pagination.isSorted('l.code') %}
                        <span class="order">
                                <i class="fa fa-angle-{% if pagination.getDirection() == 'asc' %}up{% else %}down{% endif %}"></i>
                            </span>
                    {% endif %}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'orkestro.locale.headers.title'|trans, 'l.title', {'class': 'btn-link'}) }}
                    {% if pagination.isSorted('l.title') %}
                        <span class="order">
                                <i class="fa fa-angle-{% if pagination.getDirection() == 'asc' %}up{% else %}down{% endif %}"></i>
                            </span>
                    {% endif %}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'orkestro.locale.headers.isEnabled'|trans, 'l.isEnabled', {'class': 'btn-link'}) }}
                    {% if pagination.isSorted('l.isEnabled') %}
                        <span class="order">
                                <i class="fa fa-angle-{% if pagination.getDirection() == 'asc' %}up{% else %}down{% endif %}"></i>
                            </span>
                    {% endif %}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'orkestro.locale.headers.isFallback'|trans, 'l.isFallback', {'class': 'btn-link'}) }}
                    {% if pagination.isSorted('l.isFallback') %}
                        <span class="order">
                                <i class="fa fa-angle-{% if pagination.getDirection() == 'asc' %}up{% else %}down{% endif %}"></i>
                            </span>
                    {% endif %}
                </th>
                <th>
                    {{ "orkestro.locale.headers.actions"|trans }}
                </th>
            </tr>
            {% for locale in pagination %}
                <tr>
                    <td>{{ locale.code }}</td>
                    <td>{{ locale.title }}</td>
                    <td>
                        {{ form(forms[locale.code]['enable']) }}
                    </td>
                    <td>
                        {{ form(forms[locale.code]['fallback']) }}
                    </td>
                    <td>
                        <a class="btn btn-s btn-mint" href="{{ path('orkestro_backend_locale_show', { 'code': locale.code }) }}">
                            <i class="fa fa-search"></i>
                        </a>
                        <a class="btn btn-s btn-primary" href="{{ path('orkestro_backend_locale_edit', { 'code': locale.code }) }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                        {{ form_start(forms[locale.code]['delete'], {'attr': {'class': 'inline'}}) }}
                        {{ form_widget(forms[locale.code]['delete'].submit, {'attr': {'class': 'btn btn-s btn-danger fa fa-trash'}, 'label': ' '}) }}
                        {{ form_end(forms[locale.code]['delete']) }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>