{% extends "@OrkestroWeb/Backend/base.html.twig" %}
{% trans_default_domain "backend" %}

{% block title %}
    {{ "orkestro.locale.headers.edit"|trans }}
{% endblock %}
{% block page_title -%}
    <a class="btn-link icon-wrap-sm" href="{{ path('orkestro_backend_locale_list') }}">
        <i class="fa fa-angle-left"></i>
    </a>
    {{ "orkestro.locale.headers.edit"|trans }} <small>{{ entity.title }} &mdash; {{ entity.code }}</small>
{% endblock %}

{% block body -%}
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-body">
                {{ form_start(edit_form) }}
                    <h3 class="mar-btm">
                        <small>
                            {{ "orkestro.locale.labels.code"|trans }}
                        </small>
                        {{ entity.code }}
                    </h3>

                    <h3 class="mar-btm">
                        <small>
                            {{ "orkestro.locale.labels.locale"|trans }}
                        </small>
                        {{ entity.title }}
                    </h3>

                    <h5 class="text-thin mar-btm">
                        {{ "orkestro.locale.labels.isEnabled"|trans }}
                    </h5>
                    {{ form_widget(edit_form.isEnabled) }}

                    <h5 class="text-thin mar-btm">
                        {{ "orkestro.locale.labels.isFallback"|trans }}
                    </h5>
                    {{ form_widget(edit_form.isFallback) }}

                    <hr />

                    <div>
                        {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-success btn-labeled fa fa-check'}, 'label': 'orkestro.locale.buttons.apply'|trans}) }}
                        <a class="btn btn-warning btn-labeled fa fa-times" href="{{ path('orkestro_backend_locale_list') }}">{{ 'orkestro.locale.buttons.cancel'|trans }}</a>
                    </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}
