{% extends "@OrkestroWeb/Backend/base.html.twig" %}
{% trans_default_domain "backend" %}

{% block title -%}
    {{ "orkestro.locale.headers.locales"|trans }}
{% endblock %}
{% block page_title -%}
    {{ "orkestro.locale.headers.locales"|trans }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/orkestrolocale/orkestro/js/locale.js') }}"></script>
{% endblock %}

{% block body -%}
    <div class="panel mar-no panel-bordered-primary">
        <div class="panel-body">
            <div class="pull-left">
                {{ form(formLimitSelector) }}
            </div>
            <div class="pull-right">
                <a class="btn btn-primary btn-rounded btn-labeled fa fa-plus" href="{{ path('orkestro_backend_locale_new') }}">
                    {{ "orkestro.locale.buttons.add"|trans }}
                </a>
            </div>
        </div>
    </div>
    <hr />
    <div class="panel mar-no panel-bordered-mint">
        <div class="panel-body">
            <table class="table table-bordered mar-no">
                <tr>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'orkestro.locale.headers.code'|trans, 'l.code', {'class': 'btn-link'}) }}
                        {% if pagination.isSorted('l.code') %}
                            <span class="order">
                                <i class="fa fa-angle-{% if pagination.getDirection() == 'asc' %}up{% else %}down{% endif %}"></i>
                            </span>
                        {% endif %}
                    </th>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'orkestro.locale.headers.title'|trans, 'l.title', {'class': 'btn-link'}) }}
                        {% if pagination.isSorted('l.title') %}
                            <span class="order">
                                <i class="fa fa-angle-{% if pagination.getDirection() == 'asc' %}up{% else %}down{% endif %}"></i>
                            </span>
                        {% endif %}
                    </th>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'orkestro.locale.headers.enabled'|trans, 'l.enabled', {'class': 'btn-link'}) }}
                        {% if pagination.isSorted('l.enabled') %}
                            <span class="order">
                                <i class="fa fa-angle-{% if pagination.getDirection() == 'asc' %}up{% else %}down{% endif %}"></i>
                            </span>
                        {% endif %}
                    </th>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'orkestro.locale.headers.fallback'|trans, 'l.fallback', {'class': 'btn-link'}) }}
                        {% if pagination.isSorted('l.fallback') %}
                            <span class="order">
                                <i class="fa fa-angle-{% if pagination.getDirection() == 'asc' %}up{% else %}down{% endif %}"></i>
                            </span>
                        {% endif %}
                    </th>
                    <th>
                        {{ "orkestro.locale.headers.actions"|trans }}
                    </th>
                </tr>
                {% for locale in pagination %}
                    <tr>
                        <td>{{ locale.code }}</td>
                        <td>{{ locale.title }}</td>
                        <td>
                            {{ form(forms[locale.code]['enable']) }}
                        </td>
                        <td>
                            {{ form(forms[locale.code]['fallback']) }}
                        </td>
                        <td>
                            <a class="btn btn-s btn-mint" href="{{ path('orkestro_backend_locale_show', { 'code': locale.code }) }}">
                                <i class="fa fa-search"></i>
                            </a>
                            <a class="btn btn-s btn-primary" href="{{ path('orkestro_backend_locale_edit', { 'code': locale.code }) }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            {{ form_start(forms[locale.code]['delete'], {'attr': {'class': 'inline'}}) }}
                                {{ form_widget(forms[locale.code]['delete'].submit, {'attr': {'class': 'btn btn-s btn-danger fa fa-trash'}, 'label': ' '}) }}
                            {{ form_end(forms[locale.code]['delete']) }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <hr />
    <div class="panel panel-bordered-primary">
        <div class="panel-body">
            <div class="navigation pull-left">
                {{ knp_pagination_render(pagination) }}
            </div>
            <div class="pull-right">
                {% set paginationStartsWith = (pagination.getCurrentPageNumber - 1) * pagination.getItemNumberPerPage + 1 %}
                {% set paginationEndsWith = pagination.getCurrentPageNumber * pagination.getItemNumberPerPage %}
                {% if paginationEndsWith > pagination.getTotalItemCount %}
                    {% set paginationEndsWith = pagination.getTotalItemCount %}
                {% endif %}
                <ul class="list-group mar-no">
                    <li class="list-group-item">
                        {{ paginationStartsWith }}&mdash;{{ paginationEndsWith }} {{ 'orkestro.locale.info.of'|trans }} {{ pagination.getTotalItemCount }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
