{% extends "@OrkestroWeb/Backend/base.html.twig" %}
{% trans_default_domain "backend" %}

{% block body -%}
    <h3>{{ "orkestro.locale.headers.locales"|trans }}</h3>

    <ul>
        <li>
            <a href="{{ path('orkestro_backend_locale_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>

    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>

    <table class="table table-condensed">
        <tr>
            <th{% if pagination.isSorted('l.code') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'orkestro.locale.headers.code'|trans, 'l.isoCode') }}
            </th>
            <th{% if pagination.isSorted('l.title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'orkestro.locale.headers.title'|trans, 'l.title') }}
            </th>
            <th{% if pagination.isSorted('l.enabled') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'orkestro.locale.headers.enabled'|trans, 'l.enabled') }}
            </th>
            <th{% if pagination.isSorted('l.fallback') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'orkestro.locale.headers.fallback'|trans, 'l.fallback') }}
            </th>
            <th>
                {{ "orkestro.locale.headers.actions"|trans }}
            </th>
        </tr>
        {% for locale in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ locale.code }}</td>
                <td>{{ locale.title }}</td>
                <td>{{ locale.enabled }}</td>
                <td>{{ locale.fallback }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('orkestro_backend_locale_show', { 'code': locale.code }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('orkestro_backend_locale_edit', { 'code': locale.code }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
