{% extends "@OrkestroWeb/Backend/base.html.twig" %}
{% trans_default_domain "backend" %}

{% block title %}
    {{ "orkestro.locale.headers.new"|trans }}
{% endblock %}
{% block page_title -%}
    <a class="btn-link icon-wrap-sm" href="{{ path('orkestro_backend_locale_list') }}">
        <i class="fa fa-angle-left"></i>
    </a>
    {{ "orkestro.locale.headers.locale"|trans }} <small>{{ entity.title }} &mdash; {{ entity.code }}</small>
{% endblock %}

{% block body -%}
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="mar-btm">
                    <small>
                        {{ "orkestro.locale.labels.code"|trans }}
                    </small>
                    {{ entity.code }}
                </h3>

                <h3 class="mar-btm">
                    <small>
                        {{ "orkestro.locale.labels.locale"|trans }}
                    </small>
                    {{ entity.title }}
                </h3>

                <h3 class="mar-btm">
                    <small>
                        {{ "orkestro.locale.labels.isEnabled"|trans }}
                    </small>
                    <input type="checkbox" class="switchery" data-disabled="true" data-disabled-opacity="1"{% if entity.isEnabled %} checked="checked"{% endif %} />
                </h3>

                <h3 class="mar-btm">
                    <small>
                        {{ "orkestro.locale.labels.isFallback"|trans }}
                    </small>
                    <input type="checkbox" class="switchery" data-disabled="true" data-disabled-opacity="1"{% if entity.isFallback %} checked="checked"{% endif %} />
                </h3>

                <hr />

                <div>
                    <a class="btn btn-warning btn-labeled fa fa-arrow-left" href="{{ path('orkestro_backend_locale_list') }}">{{ 'orkestro.locale.buttons.to_list'|trans }}</a>
                    <a class="btn btn-primary btn-labeled fa fa-pencil" href="{{ path('orkestro_backend_locale_edit', {'code': entity.code}) }}">{{ 'orkestro.locale.buttons.edit'|trans }}</a>
                    {{ form_start(delete_form, {'attr': {'class': 'inline'}}) }}
                        {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-s btn-danger btn-labeled fa fa-trash'}, 'label': 'orkestro.locale.buttons.delete'|trans}) }}
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
